.box {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;

}
.boxWhite {
    background-color: white;
}
.boxBlack {
    background-color: slateblue;
}
img{
    margin: auto;
}
.piece{
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}
.box .piece:hover{
    cursor: grab;
}
.box .piece:active{
    cursor: grabbing;
}