.boxWhite {
    display: grid;
    place-content: center;
    background-color: white;
}
.boxBlack {
    display: grid;
    place-content: center;
    background-color: slateblue;
}
img{
    margin: auto;
}
.piece{
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.piece:hover{
    cursor: grab;
}
.piece:active{
    cursor: grabbing;
}