.App {
    width: 100vh;
    height: 100vh;
    margin:auto;
}
#chessBoard {
    display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
    max-width: 500px;
    max-height: 500px;
}